<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.bank">

    <permission
        android:name="com.jf.jlfund.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.jf.jlfund.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.test.bank.base.BaseApplication"
        android:allowBackup="true"
		android:maxAspectRatio="2.4"
		android:hardwareAccelerated="true"
		android:largeHeap="true"
		android:usesCleartextTraffic="true"
		android:requestLegacyExternalStorage="true"
		android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.test.bank.view.activity.SplashActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.test.bank.receiver.LockScreenReceiver" />

        <activity
            android:name="com.test.bank.view.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.RiskTestResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.RiskTestOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.CurrentPlusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.PutInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.PutInResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.GestureVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.GetOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.GetOutResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.SevenDayYieldListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.TradeRecordListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.TradeRecordDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.SingleFundDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.FundCompanyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.FundAnnouncementListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.FundInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.FundManagerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.FundManagerDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.PositionAllocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.NetValueListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.TradeNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.TradeNoticeShortActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.DividendInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.PDFViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.base.CommonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.GraspChanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.ChaseHotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.BuyGoodFundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.BuyGoodFundDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.GraspChanceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.ForgetLoginPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.ResetLoginPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.SimpleH5Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.ResetTradePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.BankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.PwdManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.RiskPreferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.FundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.FundTradeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.FundPositionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.SingleFundTradeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.FundTradeRecordDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.bank.view.activity.FundBuyInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.test.bank.view.activity.FundSaleOutActivity" />


        <!-- ####################################################################### -->
        <!-- ###################   极光推送设置    start    ######################### -->


        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.jf.jlfund" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.jf.jlfund" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.jf.jlfund" />
            </intent-filter>
        </activity>
        <!-- SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.jf.jlfund" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name="com.test.bank.receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.jf.jlfund" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="778ec717bb53265bf60fda3c" />

        <!-- ###################   极光推送设置  end ############################# -->
        <!-- ####################################################################### -->

        <!-- ###################   友盟统计 start ############################# -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5aa898ce8f4a9d161a0000cd" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- ###################   友盟统计  end ############################# -->
        <!-- ####################################################################### -->

        <!-- ###################   Android7.0 获取手机内容问题  start  ########################### -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jf.jlfund.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- ###################   Android7.0 获取手机内容问题  end  ########################### -->

        <!-- 监听APP安装升级 -->
        <receiver android:name="com.test.bank.receiver.VersionUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <!-- <action android:name="android.intent.action.PACKAGE_REMOVED" /> -->

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- 点击通知栏下载进度 -->
        <receiver android:name="com.test.bank.receiver.NotificationClickReceiver">
            <intent-filter>
                <action android:name="notification_clicked" />
                <action android:name="notification_cancelled" />
            </intent-filter>
        </receiver>

        <activity android:name="com.test.bank.view.activity.RapidBindCardActivity" />
        <activity
            android:name="com.test.bank.view.activity.SmartServerActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.test.bank.view.activity.SupportBankAndAmountActivity" />
        <activity android:name="com.test.bank.view.activity.TestActivity" />
    </application>

</manifest>